<h1>Log In</h1>

<p><%= @error %></p>

<%= form_for :session, url: { action: 'create' } do |f| %>
<ul>
  <li><%= f.label :username, 'Username:' %></li>
  <li><%= f.text_field :username %></li>
  <li><%= f.label :email, 'Email:' %></li>
  <li><%= f.text_field :email %></li>
  <li><%= f.label :password, 'Password:' %></li>
  <li><%= f.password_field :password %></li>
  <li><%= f.submit 'Log In' %></li>
</ul>
<% end %>