<div class="jumbotron center">
	<div class="panel-heading">
<h1>Oops! That was wrong, try again.  Guess the Artist...</h1>
</div>

<p>These are all the lyrics of the song, your last chance to guess the artist</p>
</div>

 <div class="container">
	<% chosen_song.lines.each do |i| %>
	 <br><strong id="final"><%=i.lyric %></strong> 
	<% end %> 
</div>


<% @list = list_of_answers << chosen_song.artist.name %>
<% @list.shuffle! %>
<% @list.each do |i| %>
	<% if i == chosen_song.artist.name %>
		<%= button_to i, success_game_path, :method => :get, class: "rap_btn btn btn-default btn-lg" %>
	<% else %>
		<%= button_to i, fail_game_path, :method => :get, class: "rap_btn btn btn-default btn-lg"  %>
	<% end %>
<% end %>



<p>
	Testing...
	<br>
	current artist= <%= chosen_song.artist.name %> 
	<br>
	current song= <%= chosen_song.title%> 
<p>

<p>
	what's your guess?</p>
<p>

