<div class="jumbotron center">
	<h1>Guess the Artist...</h1>
	<div class="panel-heading">
	</div>
</div>

<div>
	<% chosen_song.lines[mid_num..mid_num+3].each do |i| %>
	<br><br> <strong id="new" ><%=i.lyric %></strong> 
	<% end %> 
</br>
</div>
</br>


<div>
	<% list_of_answers.each do |i| %>
		<% if i == chosen_song.artist.name %>
			<div style="float:left;">
				<%= button_to i, success_game_path, :method => :get %, class: "rap_btn btn btn-default btn-lg">
			</div>
		<% else %>
			<div style="float:left;">
				<%= button_to i, try2_game_path, :method => :get, class: "rap_btn btn btn-default btn-lg" %>
			</div> 
		<% end %>
	<% end %>

	<div style="clear:both;">
	</div>

</div>

<p>
	Testing...
	<br>
	current artist= <%= chosen_song.artist.name %> 
	<br>
	current song= <%= chosen_song.title%> 
<p>







