<h1>Guess the Artist...</h1>

 <div>
	<% chosen_song.lines[mid_num..mid_num+3].each do |i| %>
	<br><br> <strong id="new" ><%=i.lyric %></strong> 
	<% end %> 
</div>



<% @list = list_of_answers << chosen_song.artist.name %>
<% @list.shuffle! %>
<% @list.each do |i| %>
	<% if i == chosen_song.artist.name %>
		<%= button_to i, success_game_path, :method => :get %>
	<% else %>
		<%= button_to i, try2_game_path, :method => :get %>
	<% end %>
<% end %>


<p>
	Testing...
	<br>
	current artist= <%= chosen_song.artist.name %> 
	<br>
	current song= <%= chosen_song.title%> 
<p>