<div class="jumbotron">
<div class="panel-heading">
<h1>Games#try1</h1>
</div>
<p>Starts game, displaying first section of lyrics</p>
</div>
 <div>
	<% chosen_song.lines[mid_num..mid_num+3].each do |i| %>
	<br><br> <strong id="new" ><%=i.lyric %></strong> 
	<% end %> 
</div>

<p>
	Testing...
	<br>
	current artist= <%= chosen_song.artist.name %> 
	<br>
	current song= <%= chosen_song.title%> 
<p>

<%= link_to 'Show Try2', try2_game_path(@game), class: "btn btn-primary btn-lg"  %>
</p>


<%= render 'guess' %>

<br><div class="btn-group class" role="group" aria-label="...">
  <button type="button" class="btn btn-default">chosen_song.artist.name</button>
  <button type="button" class="btn btn-default">chosen_song.artist.name</button>
  <button type="button" class="btn btn-default">chosen_song.artist.name</button>
  <button type="button" class="btn btn-default">chosen_song.artist.name </button>
  <button type="button" class="btn btn-default">chosen_song.artist.name</button>
</div><br>

<br><% for i in (0..4) do %>
  <%= radio_button_tag(chosen_song.artist.name, "chosen_song.artist.name") %>
  <%= label_tag(chosen_song.artist.name, "chosen_song.artist.name") %>
<% end %> 

<br>



<%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>