<!DOCTYPE html>
<html>
<head>
  <title>Hiphop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
<% if current_user %>
  <p> Welcome <%= current_user.username %>
  <%= link_to 'Logout', log_out_path %></p>
<% else %>
<% end %>

<%= yield %>
 </div>
</body>
</html>
